//
   Created by mariosky on 3/16/16.


doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" )
        link(rel='stylesheet', href='/stylesheets/evodraw.css')
block content
   .container-full
      p#drawing_id Welcome to #{title}
      p #{xbox} #{minutes} #{size}
      canvas#lienzo(data-processing-sources='/javascripts/drawings.pde')

block scripts
      script.
          var minutes = #{minutes};
          var xbox_id = #{xbox};
      script(src="/javascripts/processing.min.js")
      script(src="/javascripts/jquery.min.js")
      script(src="/javascripts/evodraw-canvas.js")

