//Created by mariosky on 3/16/16.

extends layout
block content
   .container
      nav.navbar.navbar-default
         .container-fluid
            .navbar-header
               a.navbar-brand EvoSpace #{namePop} Dashboard
               //a.navbar-brand EvoSpace #{namePop} Dashboard #{sizePop} #{noSamples}
            .collapse.navbar-collapse
               ul.nav.navbar-nav.navbar-right
                  li
                     a(href="../../evospaceTest") Home

      - if ((sizePop != 0) || (noSamples > 0) ) {

      .row
         .col-sm-8
            .panel.panel-default
               .panel-heading
                  .panel-title Population
               #population.panel-body
            //button#evolve.btn.btn-default.btn-block(type="button") Evolve

         .col-sm-3
            .panel.panel-default
               .panel-heading
                  .panel-title Get Sample
               .panel-body
                  form.form-control-static(action="/evospaceTest/#{namePop}/dashboard", method="post")
                     input.input-group.btn-block(type="text" name="sizeSample", placeholder="Size of Sample")
                     br
                     button.btn.btn-default.btn-block(type="submit") Create
                     br

      .row
         .col-sm-3
            .panel.panel-default
               .panel-heading
                  .panel-title Sample Queue
               #sample-queue.panel-body
            button#respawn.btn.btn-default.btn-block(type="button") Respawn
      - }
      - else {

      .row
         .col-sm-3
            .panel.panel-default
               .panel-heading
                  .panel-title Initialize
               .panel-body
                  form.form-control-static(action="/evospaceTest/#{namePop}/initialize", method="post")
                     input.input-group.btn-block(type="text" name="noIndividuals", placeholder="Number of Individuals")
                     br
                     button.btn.btn-default.btn-block(type="submit") Create
                     br
                  p.
                     This is an example

      -}

block scripts
   script(src="/javascripts/jquery.min.js")
   script.
      var namePopulation = !{JSON.stringify(namePop)}
   script(src="/javascripts/evospace-population-dashboard.js").
